# dependencies
/node_modules

# next.js build
/.next/
/out/

# build output
/build

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# local vercel folder (safe to ignore locally, but not vercel.json)
.vercel

# typescript build info
*.tsbuildinfo
next-env.d.ts
